#page {
    /* Basically, we don't want to take up too much space */
    margin: 5%;
    margin-top: 2%;
}

/* Reset styling */
:root {
    padding: 0;
    margin: 0;

    /* Font setup */
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    
    color-scheme: light dark;
}

a,
a:visited {
    text-decoration: none;
    color: #0000ff;
}

.code,
blockquote {
    padding: 3%;
    font-size: 1.2em;
    border-left: 6px solid #aaa;
    background-color: #eee;
}

.invisible {
    display: none;
    visibility: hidden;
}

.skiplink {
    left: 50%;
    position: absolute;
    transform: translateY(-100%);
}

.center-text {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .gridcolumn { 
        grid-area: 1 / 1 / 2 / 3; 
        margin: 5%;
    }

.head {
    height: auto;
    width: 100%;
    top: 0; left: 0;
    position: absolute;
    border-bottom: 3px solid #aaa;
    background-color: #eee;
}

.head a {
    text-decoration: none;
    color: #000;
}

.head h1 {
    font-size: 1.4em;
}

/* CSS sidebar collapse */
.collapsible-toggle {
    display: none;
    visibility: hidden;
    }

    .collapsible-toggle-text {
        cursor: pointer;
        padding: 0.5em;
        text-align: center;
        width: 100%;
        font-weight: bold;
        text-transform: uppercase;
        background-color: #eee;
        transition: all 0.25s ease-out;

        display: none;
        visibility: hidden;
    }

    .collapsible-toggle-text:hover {
        background-color: #bbb;
    }

    .sidebar {
        display: none;
        visibility: hidden;
        overflow: hidden;
    }

    .collapsible-toggle:checked + .collapsible-toggle-text + .sidebar {
        display: block;
        visibility: visible;
    }

/* Pagetools list design */
.pagetools {
    text-align: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #eee;
    }

    .pagetools li {
        display: inline;
        margin-left: 0.3em;
    }

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
